{% set navPages = collections.all | eleventyNavigation %}
<nav class="desktop-display">
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
<nav class="mobile-display">
  <select class="select" onChange="window.location.href=this.value">
    {%- for entry in navPages %}
      <option value="{{ entry.url | url }}" {% if entry.url == page.url %} selected{% endif %}>
        {{ entry.title }}
      </option>
    {%- endfor %}
  </select>
</nav>
