<section>
	{% for review in reviewslist | reverse %}
		<article{% if review.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ review.url | url }}">
					{% if review.data.title %}
						{{ review.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if review.data.summary %}
				<p>
					{{ review.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ review.date | machineDate }}">
					<small>{{ review.date | readableDate }} by <a href="/authors/{{ review.data.author | slug }}/">{{ review.data.author }}</a></small>
				</time>
			</p>
			{% if review.data.tags %}
				<p>
					{% for tag in review.data.tags %}
					{%- if filteredTags -%}
						{# If we have filtered tags, we only want to display tags that are not filtered for this view #}
						{% if not tag|containsValue(filteredTags) %}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  					<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
						{% endif %}
					{%- else -%}
					{# If we don't have filtered tags, just print all tags #}
						{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  				<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
					{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
